.todocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: rgb(150, 148, 148);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
  }
  
  .welcome {
    font-size: 24px;
    font-weight: bold;
  }
  
  .createbtn {
    padding: 10px;
    background-color: #008000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todolist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eab6b6;
    border: 1px solid #ad9393;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .check {
    margin-right: 10px;
  }
  
  .deletebtn,
  .editbtn {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deletebtn {
    background-color: #ff0000;
    color: #fff;
    margin-right: 10px;
  }
  
  .editbtn {
    background-color: #008000;
    color: #fff;
  }